body {
	background-color: #4496E4;
	font-family: 'Roboto', helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

.logo {
	display: block;
	height: 35px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 5%;

}

.sign-up {
	display: block;
	width: 360px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	border-color: black;
	border-style: solid;
	margin: 0 auto;
	background: white;
}

.sign-up legend {
    text-align: center;
    font-weight: 300;
    color: #565656;
    margin: 0 auto 45px;
    font-size: 35px;
    line-height: 38px;
    letter-spacing: 0;
}

.footer {
	display:block;
	text-align: center;
	margin: 0 auto;
}

#email {
	display: block;
	margin: 0 auto;
	width: 320px;
	padding: 15px;
	background: #fcfcfc;
    border: 2px solid #e7e7e7;
}

#password {
	display: block;
	margin: 0 auto;
	width: 320px;
	padding: 15px;
	background: #fcfcfc;
    border: 2px solid #e7e7e7;
}

button[type='submit'] {
   background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 20px auto;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}

.signup-form p {
    font-size: 14px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #999;
}

.sign-up a {
    text-decoration: none;
    text-align:center;
    color: green;
    border-bottom: 1px solid #bbb;
}

.sign-up a:hover {
    border-color: #999;
    color: #777;
}

.footer {
    text-align: center;
    color: white;
    margin: 20px auto;
    font-weight: 600;
    border: 0;
    padding: 0;
}

.footer a {
    color: white;
}

.footer a:hover { color: #E7F1F9 }

.footer p { margin-bottom: 40px }
