body {
	background-color: #4496E4;
}

.logo {
	display: block;
	height: 35px;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 5%;
}

.sign-up {
	display: block;
	width: 360px;
	padding-left: 40px;
	padding-right: 40px;
	position: relative;
	border-color: black;
	border-style: solid;
	margin: 0 auto;
}

.footer {
	display:block;
	text-align: center;
	margin: 0 auto;
}

#email {
	display: block;
	margin: 0 auto;
	width: 303px;
	padding: 15px;
	border-style: solid;
	border-color: lightgrey;
}

#password {
	display: block;
	margin: 0 auto;
	width: 303px;
	padding: 15px;
	border-style: solid;
	border-color: lightgrey;
}

button {
	display: block;
	margin: 0 auto;
	width: 303px;
	position:relative;
	top:10px;

}
}
